/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url(../fonts/font-MuseoSans.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  font-size: 100%;
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-weight: normal; }

.side-nav {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 50vh;
  width: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 50px; }

.side-nav__list {
  list-style: none;
  border-right: 1px solid #ccc;
  font-size: 1rem;
  letter-spacing: 0.02em; }

.side-nav__item {
  margin-bottom: 1rem; }

.side-nav__link {
  display: block;
  padding-right: 20px;
  text-align: right;
  color: #ccc;
  border-right: 3px solid transparent;
  font-family: "Museo Sans Cyrl 300", sans-serif;
  line-height: 2.5rem;
  text-decoration: none;
  outline: none;
  -webkit-transition: .5s;
  transition: .5s; }

.side-nav__link:hover,
.side-nav__link:focus {
  outline: none; }

.active-link {
  color: #C91226;
  font-family: "Museo Sans Cyrl 900", sans-serif;
  font-weight: 900;
  border-right: 3px solid #FF3047;
  -webkit-transition: .5s;
  transition: .5s; }

.side-nav__item:first-child .active-link {
  color: #fff;
  border-right: 3px solid #fff; }

.first {
  position: relative;
  width: 100%;
  height: 860px;
  overflow: hidden;
  font-family: "Museo Sans Cyrl 500", sans-serif; }

.first__video-bg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1; }

.first__video {
  position: relative;
  width: 100%;
  height: 100%; }

.first__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.first__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px; }

.first__logo {
  width: 112px;
  height: 14px; }

.first__nav {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 34px; }

.first__nav-item {
  padding: 0 30px; }

.first__nav-link {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 19px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s; }

.first__nav-link.active-link {
  border-right: none; }

.first__nav-link:hover::after,
.first__nav-link:focus::after {
  content: '';
  position: absolute;
  display: block;
  width: 46px;
  height: 2px;
  left: 50%;
  bottom: -6px;
  background-color: #FF3047;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s; }

.first__button {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #ff2a42;
  text-decoration: none; }

.first__left {
  position: relative;
  width: 16%;
  height: 700px;
  overflow: visible; }

.first__tecnologies {
  position: absolute;
  top: 47.5%;
  left: -86px;
  color: rgba(255, 255, 255, 0.34);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.58em;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.first__center {
  width: 64%;
  margin-top: 54px;
  border-top: 1px solid #000;
  color: #fff;
  padding: 40px 0; }

.first__years {
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.02em;
  margin-bottom: 24px; }

.first__title {
  font-family: "Museo Sans Cyrl 900", sans-serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.03em;
  margin-bottom: 30px; }

.first__description {
  width: 70%;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 50px; }

.first__download {
  width: 357px;
  height: 70px;
  border-radius: 5px;
  background-color: #FF3047;
  padding: 0 40px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-decoration: none; }

.second {
  width: 100%;
  overflow: hidden; }

.second__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0 10px 0; }

.second__title {
  width: 100%;
  text-align: center;
  color: #202020;
  font-family: "Museo Sans Cyrl 900", sans-serif;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: 0.03em;
  margin-bottom: 70px; }

.slider-thumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 10%;
  color: #626262;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.current .slider-thumb {
  color: #C91226;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.slider__icon {
  width: 60px;
  height: 56px;
  margin-bottom: 20px; }

.slider-thumb__p {
  width: 100%;
  max-width: 272px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0.02em; }

.slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  padding-top: 50px; }

.slide__img {
  width: 48%;
  padding: 3% 13%; }

.slide__text {
  width: 52%;
  border-left: 1px solid #626262;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 48px 120px 0 40px; }

.slide__cymbols {
  font-size: 16px;
  line-height: 29px;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #b2b2b2; }

.slide__title {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  color: #202020;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 20px; }

.slide__p {
  font-size: 16px;
  line-height: 20px; }

#sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer; }

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */ }
  .owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .owl-theme .owl-nav [class*='owl-'].disabled:hover {
      background-color: #D6D6D6; }

#sync1.owl-theme {
  position: relative; }
  #sync1.owl-theme .owl-nav [class*="owl-"]:hover {
    background: rgba(255, 255, 255, 0.5); }
  #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
    width: 42px;
    height: 80px;
    margin-top: -40px;
    position: absolute;
    top: 50%; }
    #sync1.owl-theme .owl-next svg, #sync1.owl-theme .owl-prev svg {
      stroke: #FF3047;
      fill: #FF3047; }
  #sync1.owl-theme .owl-prev {
    left: 10px; }
  #sync1.owl-theme .owl-next {
    right: 10px; }

.third {
  width: 100%;
  height: 860px;
  background: url("../img/letters.png") no-repeat left top, #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.third__text {
  width: 422px;
  color: #fff;
  padding: 141px 0;
  margin-left: 301px; }

.third__title {
  font-family: "Museo Sans Cyrl 900", sans-serif;
  border-top: 1px solid #000;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.03em;
  margin-bottom: 64px; }

.third__item {
  position: relative;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 42px;
  padding-left: 80px; }

.third__subtitle {
  font-family: "Museo Sans Cyrl 900", sans-serif;
  font-size: 17px;
  letter-spacing: 0.02em;
  margin-top: 68px; }

.third__p {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 12px; }

.third__icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #F03145; }

.fourth {
  height: 200px;
  background-color: #2e2e2e; }
