@import variables

.first
  position: relative
  width: 100%
  height: 860px
  overflow: hidden
  font-family: "Museo Sans Cyrl 500", sans-serif

.first__video-bg
  position: absolute
  width: 100%
  left: 0
  top: 0
  z-index: -1
  
.first__video
  position: relative
  width: 100%
  height: 100%

.first__wrapper
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-color: hsla(0, 0%, 0%, 0.7)
  display: flex
  flex-wrap: wrap

.first__header
  width: 100%
  display: flex
  flex-wrap: no-wrap
  justify-content: space-between
  align-items: center
  padding: 0 32px

.first__logo
  width: 112px
  height: 14px

.first__nav
  list-style: none
  display: inline-flex
  flex: 1
  justify-content: flex-end
  padding-right: 34px  

.first__nav-item
  padding: 0 30px  

.first__nav-link
  position: relative
  text-decoration: none
  font-size: 1rem
  font-weight: normal
  letter-spacing: 0.05em
  line-height: 19px
  color: #fff
  transition: .3s

.first__nav-link.active-link
  border-right: none

.first__nav-link:hover::after,  
.first__nav-link:focus::after
  content: ''
  position: absolute
  display: block
  width: 46px
  height: 2px
  left: 50%
  bottom: -6px
  background-color: $brand
  transform: translateX(-50%)
  transition: .3s

.first__button
  padding: 10px 20px
  background-color: #fff
  border-radius: 5px
  font-size: 14px
  font-weight: normal
  line-height: 20px
  letter-spacing: 0.03em
  color: #ff2a42
  text-decoration: none

.first__left
  position: relative
  width: 16%
  height: 700px
  overflow: visible
  
.first__tecnologies
  position: absolute
  top: 47.5%
  left: -86px
  color: rgba(255, 255, 255, 0.34)
  font-size: 14px
  line-height: 17px
  letter-spacing: 0.58em
  text-transform: uppercase
  transform: rotate(-90deg)

.first__center
  width: 64%
  margin-top: 54px
  border-top: 1px solid #000
  color: #fff
  padding: 40px 0

.first__years
  font-size: 24px
  line-height: 37px
  letter-spacing: 0.02em
  margin-bottom: 24px

.first__title
  font-family: "Museo Sans Cyrl 900", sans-serif
  font-size: 50px
  line-height: 60px
  letter-spacing: 0.03em
  margin-bottom: 30px

.first__description
  width: 70%
  font-size: 20px
  line-height: 36px
  letter-spacing: 0.02em
  margin-bottom: 50px

.first__download
  width: 357px
  height: 70px
  border-radius: 5px
  background-color: $brand
  padding: 0 40px 0 30px
  display: flex
  justify-content: space-between
  align-items: center
  color: #fff
  font-size: 20px
  line-height: 29px
  letter-spacing: 0.03em
  text-decoration: none 
