.second
  width: 100%
  overflow: hidden

.second__wrapper
  width: 100%
  max-width: 1440px
  margin: 0 auto
  padding: 100px 0 10px 0

.second__title
  width: 100%
  text-align: center
  color: #202020
  font-family: "Museo Sans Cyrl 900", sans-serif
  font-size: 50px
  line-height: 54px
  letter-spacing: 0.03em
  margin-bottom: 70px

@import slider


    