@import variables
  
.side-nav
  position: fixed
  z-index: 3
  right: 0
  top: 50vh
  width: 100px
  transform: translateY(-50%)
  padding-right: 50px

.side-nav__list
  list-style: none
  border-right: 1px solid #ccc
  font-size: 1rem
  letter-spacing: 0.02em
   
.side-nav__item
  margin-bottom: 1rem

.side-nav__link
  display: block
  padding-right: 20px
  text-align: right
  color: #ccc
  border-right: 3px solid transparent
  font-family: "Museo Sans Cyrl 300", sans-serif
  line-height: 2.5rem
  text-decoration: none
  outline: none
  transition: .5s

.side-nav__link:hover,
.side-nav__link:focus
  outline: none
  
.active-link
  color: $active
  font-family: "Museo Sans Cyrl 900", sans-serif
  font-weight: 900
  border-right: 3px solid $brand
  transition: .5s

.side-nav__item:first-child .active-link
   color: #fff
   border-right: 3px solid #fff 
