@import variables

.slider-thumb
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  cursor: pointer
  padding: 0 10%
  color: #626262
  transition: 0.5s

.current 
  .slider-thumb
    color: $active
    transition: 0.5s

.slider__icon
  width: 60px
  height: 56px
  margin-bottom: 20px
  
.slider-thumb__p
  width: 100%
  max-width: 272px
  text-align: center
  font-size: 14px
  font-weight: normal 
  line-height: 18px
  letter-spacing: 0.02em  

.slide
  width: 100%
  display: flex
  flex-wrap: no-wrap
  padding-top: 50px

.slide__img
  width: 48%
  padding: 3% 13%  

.slide__text
  width: 52%  
  border-left: 1px solid #626262
  display: flex
  flex-direction: column
  justify-content: start
  align-items: flex-start
  padding: 48px 120px 0 40px
  
.slide__cymbols
  font-size: 16px
  line-height: 29px
  font-weight: normal
  letter-spacing: 0.02em
  color: #b2b2b2

.slide__title
  font-family: "Museo Sans Cyrl 700", sans-serif
  color: #202020
  font-size: 36px
  line-height: 48px
  margin-bottom: 20px

.slide__p
  font-size: 16px
  line-height: 20px
 
#sync2 
  .item 
    background: #C9C9C9
    padding: 10px 0px
    margin: 5px
    color: #FFF
    border-radius: 3px
    text-align: center
    cursor: pointer
   
.owl-theme 
  .owl-nav 
    /*default owl-theme theme reset .disabled:hover links */
    [class*='owl-'] 
      transition: all .3s ease
      &.disabled:hover 
       background-color: #D6D6D6


//arrows on first carousel
#sync1.owl-theme 
  position: relative
  
  .owl-nav [class*="owl-"]:hover 
    background: rgba(255, 255, 255, 0.5)
    
  .owl-next, .owl-prev 
    width: 42px
    height: 80px
    margin-top: -40px
    position: absolute
    top: 50%

    svg
      stroke: $brand
      fill: $brand
   
   
  .owl-prev 
    left: 10px
  
  .owl-next
    right: 10px

    

  
