.third
  width: 100%
  height: 860px
  background: url("../img/letters.png") no-repeat left top,  #2e2e2e
  display: flex
  justify-content: space-between

.third__text
  width: 422px
  color: #fff
  padding: 141px 0
  margin-left: 301px

.third__title
  font-family: "Museo Sans Cyrl 900", sans-serif
  border-top: 1px solid #000 
  font-size: 50px
  line-height: 60px
  letter-spacing: 0.03em
  margin-bottom: 64px 

.third__item
  position: relative
  font-size: 18px
  line-height: 28px
  letter-spacing: 0.02em
  margin-bottom: 42px
  padding-left: 80px 

.third__subtitle
  font-family: "Museo Sans Cyrl 900", sans-serif
  font-size: 17px
  letter-spacing: 0.02em
  margin-top: 68px

.third__p
  font-size: 14px
  line-height: 19px
  letter-spacing: 0.03em
  margin-top: 12px

.third__icon
  position: absolute
  top: 0
  left: 0
  color: $icons

     