@import reset
@import "../fonts/font-MuseoSans.css"  
* 
  margin: 0
  padding: 0
  box-sizing: border-box

body
  position: relative
  font-size: 100%
  font-family: "Museo Sans Cyrl 300", sans-serif
  font-weight: normal
  


@import side-nav
@import first
@import second
@import third
@import fourth  